body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  font-size: 12px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 5px 5px;
}

.title {
  background: #e3f4ff;
  font-size: 13px;
  Padding: 5px;
  margin: 10px 0px 0px 0px;
}
.content {
  background: #e3f4ff;
  margin-top: 7px;
  padding: 12px 5px 12px;

}

.button-container {
  background: #e3f4ff;
  margin-top: 7px;
  padding-top: 10px;
  text-align: center
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  
}

button {
  background: white;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  border: 1px solid #eee;
  margin-top: 0px;
  margin-bottom: 5px;
}

.block {
  display: block;

}
